<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.a1949science.www.bookshare">

    <!-- 允许联网 -->
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 获取GSM（2g）、WCDMA（联通3g）等网络状态的信息 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 获取wifi网络状态的信息 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 保持CPU 运转，屏幕和键盘灯有可能是关闭的,用于文件上传和下载 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!-- 获取sd卡写的权限，用于文件上传和下载 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 允许读取手机状态 用于创建BmobInstallation -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 允许读使用拍照 -->
    <uses-permission android:name="android.permission.CAMERA" />
    <!-- 加入外部存储设备的权限 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- 允许打电话 -->
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <!--推送所需的权限-->
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <meta-data android:value="BookShareRefresh" android:name="BMOB_CHANNEL"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.AppStart">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.Login_Page" />
        <activity android:name=".ui.RegisterPage" />
        <activity android:name=".ui.Home_Page" />
        <activity android:name=".ui.Book_detail" />
        <activity android:name=".ui.Menu_page" />
        <activity android:name=".ui.User_Info" />
        <activity android:name=".ui.Advice_Page" />
        <activity android:name=".ui.Detail_Info" />
        <activity android:name=".ui.My_Book_List" />
        <activity android:name=".ui.EditPassword" />
        <activity android:name=".ui.Edit_Detail_Info" />
        <activity android:name=".ui.MyRead" />
        <activity android:name=".ui.MyLike" />
        <activity android:name=".ui.Sharing" />
        <activity android:name=".ui.EditNickname" />
        <activity android:name=".ui.HandleBook" />
        <activity
            android:name=".ui.MenuActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name="cn.bmob.v3.update.UpdateDialogActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <!--注册BmobPush SDK运行所需的推送服务和消息接收器-->
        <service
            android:label="PushService"
            android:name="cn.bmob.push.lib.service.PushService"
            android:process=":bmobpush"
            android:exported="true"
            android:permission="cn.bmob.permission.push">
            <intent-filter>
                <action android:name="cn.bmob.push.lib.service.PushService"/>
            </intent-filter>
        </service>

        <!-- 用于进程保活
        <service
            android:name="cn.bmob.push.lib.service.PushNotifyService"
            android:process=":bmobpush" >
        </service>-->

        <receiver android:name="cn.bmob.push.PushReceiver" >
            <intent-filter>
                <!-- 系统启动完成后会调用 -->
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <!-- 解锁完成后会调用 -->
                <action android:name="android.intent.action.USER_PRESENT" />
                <!-- 监听网络连通性 -->
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <!-- 第四部中创建的消息接收器，在这里进行注册 -->
        <receiver android:name="cn.a1949science.www.bookshare.MyPushMessageReceiver">
            <intent-filter >
                <action android:name="cn.bmob.push.action.MESSAGE"/>
            </intent-filter>
        </receiver>

        <!-- 接收心跳和唤醒的广播，要和PushService运行在同个进程
        <receiver
            android:name="cn.bmob.push.PushNotifyReceiver"
            android:process=":bmobpush" >
            <intent-filter>
                &lt;!&ndash; 接收心跳广播的action &ndash;&gt;
                <action android:name="cn.bmob.push.action.HEARTBEAT" />
                &lt;!&ndash; 接收唤醒广播的action &ndash;&gt;
                <action android:name="cn.bmob.push.action.NOTIFY" />
            </intent-filter>
        </receiver>-->
    </application>

</manifest>
